<div
  style="height: 100%;width: 100%;display: flex;flex-direction: column;justify-content: center;background-image: url(../assets/Image_02.jpg);background-repeat: no-repeat;background-position: center;object-fit: cover;">
  <div style="display: flex;flex-direction: column;justify-content: center; align-items: center;padding: 0 24px;">
    <img width="250px" src="../assets/logo.png" alt="">
    <h1 style="margin-top: 32px;color: white;text-align: center;">THE REVENUE CATALYST PLATFORM</h1>
    <h4 style="margin-top: 24px;color: white;font-style: italic;text-align: center;">POWERING BESPOKE & PREDICTABLE
      REVENUE GROWTH</h4>
  </div>
</div>
<div class="sec">
  <div class="row row-cols-md-2 row-cols-1 m-0 h-100">
    <div class="col p-0"><img height="100%" src="../assets/slice.png" alt=""></div>
    <div class="col p-0 mb-5">
      <div class=" container-fluid col-md-10 mx-auto h-100 ">
        <div class="vstack h-100 justify-content-center align-items-center">
          <div class="">
            <div class="vstack gap-2 my-4 mt-sm-4">
              <span style="font-size: xx-large; color: white;">Raising investment now:</span>
              <a mat-raised-button class="px-5 py-2 text-center"
                href="https://docsend.com/view/s/cihvnxfmjdpdphrs"
                style="text-decoration: none; width: fit-content;background-color: blueviolet; border-radius: 20px;"
                target="_blank">Investor Materials</a>
            </div>
            <div class="vstack gap-2 mt-5" style="height: fit-content;">
              <button mat-flat-button
                style="font-size: x-large; color: white;background-color: #29225658;pointer-events: none;">Contact</button>
              <h5 style="margin-top: 16px;color: white;">Tom Maples</h5>
              <a class="mat-5" style="text-decoration: none;color: white;" href="tel:+44 (0) 7966 872317">Phone: +44 (0)
                7966
                872317</a>
              <a class="mat-5" style="text-decoration: none;color: white;" href="mailto:tom@revcat.io">Email:
                tom@revcat.io</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>